<div class="sidenav" ng-include="'static/html/navbar.html'">
</div>
<div class="main">
<div>
    <table>
        <tr>
            <td><label>From Date : </label></td>
            <td><input type="Date" ng-model="from_date" /></td>
        </tr>
        <tr>
            <td><label>To Date : </label></td>
            <td><input type="Date" ng-model="to_date" /></td>
        </tr>
        <tr>
            <td><button ng-click="getalltasks(from_date, to_date)">Get Tasks</button></td>
        </tr>
    </table>
</div>

<div ng-show="fetchComplete">
<div class="userdetails">
</div>
<div class="maincontent">
<div class="statusGroup" ng-repeat="status in getTasksDate">
    <h3>{{ status.stname }}</h3>

    <span class="show-filters">
            <button ng-click="showFilters=!showFilters">
                {{ showFilters ? "Hide" : "Show" }} filters
            </button>
    </span>

    <div class="list-sort"
         ng-show="showFilters">
        <hr>
        <table>
            <tr>
                <td><label>Sort:</label></td>
                <td>
                    <select ng-model="sortBy">
                        <option value="title">Title</option>
                        <option value="start_date">Start Date</option>
                    </select>

                    <input type="checkbox" ng-model="reverse">
                    <label>Reverse</label>
                </td>
            </tr>

            <tr>
                <td><label>Filter: </label></td>
                <td class="flex"><input type="text" ng-Model="filterBy"/></td>
            </tr>
        </table>
        <hr>
    </div>

    <ul>
        <li ng-repeat="task in status.tasks | filter:filterBy | orderBy:sortBy:reverse">
            <todo-task></todo-task>
        </li>
    </ul>
</div>
</div>
</div>
</div>