<div class="container">
   
        <div class="page-header col-sm-offset-4 col-sm-6">
            <h2>Find your login username</h2>
        </div>
    
        <div class="col-sm-offset-4 col-sm-6">
            <button class="btn btn-link" ng-click=loginPage()>Login here!</button>
        </div>
    
        <div class="alert alert-danger col-sm-offset-4 col-sm-6" ng-show="userNotFound">
             {{findUserError}}
        </div>

        <div class="alert alert-info col-sm-offset-4 col-sm-6" ng-show="userFound">
            <span>Your username is : {{username}}</span>
        </div>
        
        <form class="form-horizontal" ng-submit="findUser()">
            
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email Address : </label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" 
                        ng-model="find.emailaddress" id="email" placeholder="enter email address"
                        required oninvalid="this.setCustomValidity('Please enter your email address')"
                        oninput="setCustomValidity('')"/>
                </div>
            </div>
    
            <div class="col-sm-offset-4 col-sm-6">
                <button class="btn btn-default" type="submit">Find User</button>
            </div>    
        </form>
    
    </div>