
<div class="userform">   
    <div>
        
    </div>
    <div>
        <table>
            <tr>
                <td>{{registration_error}}</td>
            </tr>
            <tr>
                <td><label>Username : </label></td>
                <td><input type="text" ng-model="user.username" /></td>
            </tr>
            <tr>
                <td><label>Email Address : </label></td>
                <td><input type="text" ng-model="user.emailaddress" /></td>
            </tr>
            <tr>
                <td><label>Password : </label></td>
                <td><input type="password" ng-model="user.password" /></td>
            </tr>
            <tr>
                <td><button ng-click="registerUser()">Register</button></td>
            </tr>
            <tr>
                <td><h5>{{registration_success}}</h5></td>
            </tr>
            <tr>
                <td><button ng-click="login()" ng-show="isRegistered">Login Here!</button></td> 
            </tr>
        </table>    
    </div>
</div>