<div ng-include="'static/html/navbar.html'"></div>

<div class="container-fluid">
    <form class="form-horizontal" name="archiveFilter">
        <div class="form-group">
            <label class="control-label col-sm-4">From Date : </label>
            <div class="col-sm-6">
                <input type="Date" ng-model="from_date" class="form-control"/>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">To Date : </label>
            <div class="col-sm-6">
                <input type="Date" ng-model="to_date" class="form-control" />
            </div>    
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">    
                <button ng-click="getarchivedtasks(from_date, to_date)" class="btn btn-default">Filter Archived Tasks</button>
                <button ng-click="resetArchived()" class="btn btn-default">Reset</button>
            </div>
        </div> 
        <div class="form-group">
            <div class="col-sm-offset-4">
                <h5>* tasks are filtered based on <strong>Created Date</strong> of a task</h5>
            </div>
        </div>  
        <div class="form_group" ng-show="archive_error!= ''">
            <div class="col-sm-offset-2" >
                <span class="text-danger">{{archive_error}}</span>
            </div>
        </div> 
    </form>
</div>    

<div class="row">
        <div class="col-md-3" ng-repeat="status in archivedTasks">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h4>{{ status.stname }}</h4>
                </div>
                <div class="panel-body">
                    <span class="show-filters">
                            <button class = "btn btn-default" ng-click="showFilters=!showFilters">
                                {{ showFilters ? "Hide" : "Show" }} filters
                            </button>
                    </span>

                    <div class="list-sort"
                        ng-show="showFilters">
                        <hr>
                        <form class="form-horizontal" ng-submit="add(status, task_title)">   
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="form-label">Sort:</label>
                                </div>
                                <div class="col-sm-6">
                                    <select ng-model="sortBy" class="form-control">
                                        <option value="title">Title</option>
                                        <option value="start_date">Start Date</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="reverse">Reverse</label>  
                                </div>   
                            </div>                         
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="form-label">Filter:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" ng-Model="filterBy" class="form-control"/>
                                </div>
                            </div>   
                        </form>
                        <hr>
                    </div>

                    <div class="status-task-items">
                        <div ng-repeat="task in status.archived | filter:filterBy | orderBy:sortBy:reverse">
                            <div class="status-task-item">
                                <todo-task></todo-task>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>