<div ng-include="'static/html/navbar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" ng-repeat="status in data">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h4>{{ status.stname }}</h4>
                </div>
                <div class="panel-body">
                    <span class="show-filters">
                            <button class = "btn btn-default" ng-click="showFilters=!showFilters">
                                {{ showFilters ? "Hide" : "Show" }} filters
                            </button>
                    </span>

                    <div class="list-sort" ng-show="showFilters">
                        <hr>
                        <form class="form-horizontal">   
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="form-label">Sort:</label>
                                </div>
                                <div class="col-sm-6">
                                    <select ng-model="sortBy" class="form-control">
                                        <option value="title">Title</option>
                                        <option value="start_date">Start Date</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="reverse">Reverse</label>  
                                </div>   
                            </div>                         
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="form-label">Filter:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" ng-Model="filterBy" class="form-control"/>
                                </div>
                            </div>   
                        </form>
                        <hr>
                    </div>

                    <div class="status-task-items">
                        <div ng-repeat="task in status.tasks | filter:filterBy | orderBy:sortBy:reverse">
                            <todo-task></todo-task>   
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <form class="form-horizontal" ng-submit="add(status, task_title)">   
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" 
                                        ng-model="task_title" id="title" placeholder="Enter Title"
                                        required oninvalid="this.setCustomValidity('Please enter title')"
                                        oninput="setCustomValidity('')"/>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-default btn-sm" title="add task" type="submit"><i class="material-icons">note_add</i></button>
                                </div> 
                            </div>    
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>