<div class="well">
    <div>
        <div class="row">
            <div class="col-sm-10">
                <label>{{task.title}}</label>
            </div>
            <div class="col-sm-2">
                <button ng-click="updateStartDate()" title="Start Task" class="btn btn-primary btn-xs" ng-show="task.status == 1">
                        <i class="fa fa-hourglass-start" style="font-size:15px"></i>
                </button>
                <button ng-click="updateCompletedDate()" title="Mark as complete" class="btn btn-success btn-xs" ng-show="task.status == 2">
                        <i class="fa fa-calendar-check-o" style="font-size:15px"></i>               
                </button>
            </div>
        </div>
        <div>
            <p>
                <div>
                    <button ng-click="editTask()" title="edit" class="btn btn-primary btn-xs ">
                        <i class="material-icons" style="font-size:15px">edit</i></button>
                    <button ng-click="delete()"  title="delete" class="btn btn-danger btn-xs">
                        <i class="material-icons" style="font-size:15px">delete</i></button>
                    <button ng-click="archive()" ng-hide="{{task.archived}}" title="archive" class="btn btn-warning btn-xs">
                        <i class="material-icons" style="font-size:15px">archive</i></i></button>
                    <button ng-click="restore()" ng-show="{{task.archived}}" title="restore" class="btn btn-success btn-xs">
                        <i class="material-icons" style="font-size:15px">restore</i></i></button>
                </div>
            </p>
        </div> 	
    </div>                      
</div> 