{%load staticfiles %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="stylesheet" type="text/css"
            href="{% static "css/todotracker.css" %}">
            <link rel="stylesheet" type="text/css"
            href="{% static "css/sidenav.css" %}">
            <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    </head>

    <body ng-app="todotracker">
        <div class="container-fluid">
            <div class="jumbotron">
                <h1 align="center">TODO TRACKER  <span class="glyphicon glyphicon-list-alt"></span></h1> 
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <ng-view></ng-view>
            </div>
        </div>
        
        <footer class="page-footer">
            <div class="footer-copyright text-center py-3">© 2018 Copyright: RICO</div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="http://momentjs.com/downloads/moment.js"></script>
        <script src="{% static "js/todolist.js" %}"></script>
        <script src="{% static "js/taskitem.directive.js" %}"></script>
        <script src="{% static "js/todolist.config.js" %}"></script>
        <script src="{% static "js/login.controller.js" %}"></script>
        <script src="{% static "js/edittask.controller.js" %}"></script>
        <script src="{% static "js/login.service.js" %}"></script>
        <script src="{% static "js/users.controller.js" %}"></script>
        <script src="{% static "js/navbar.service.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>